@import "elementui.scss";
@import "./normalize.scss";
@import "./color.scss";
@import "./sassConfig.scss";

.pull-left { float: left; }
.pull-right { float: right; }

.padding30 {
  padding-top: 30px;
}
